#### Kaggle Installation

In [32]:
!pip install kaggle
!pip install kagglehub

Requirement already satisfied: kaggle in e:\mlfromscratch\mlfromscratch\lib\site-packages (1.7.4.5)
Requirement already satisfied: bleach in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (2025.10.5)
Requirement already satisfied: charset-normalizer in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil>=2.5.3 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (72.1.0)
Requirement already satisfied: six>=1.10 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: colorama in e:\mlfromscratch\mlfromscratch\lib\site-packages (from tqdm->kaggle) (0.4.6)
Requirement already satisfied: kagglehub in e:\mlfromscratch\mlfromscratch\lib\site-packages (0.3.13)
Requirement already satisfied: packaging in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in e:\mlfromscratch\mlfromscratch\lib\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in e:\mlfromscratch\mlfromscratch\lib\site-packages (from requests->kagglehub) (2025.10.5)
Requirement already satisfied: colorama in e:\mlfromscratch\mlfromscratch\lib\site-packages (from tqdm->kagglehub) (0.4.6)

#### Important Libraries Import

In [40]:
import pandas as pd
import kagglehub
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#### EDA

In [41]:

path = kagglehub.dataset_download("markmedhat/titanic")
print("Path to dataset files:", path)

Path to dataset files: C:\Users\ashut\.cache\kagglehub\datasets\markmedhat\titanic\versions\1

In [42]:
data_frame = pd.read_csv(r"C:\Users\ashut\.cache\kagglehub\datasets\markmedhat\titanic\versions\1\titanic.csv")
data_frame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [43]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [44]:
data_frame.drop(columns=["PassengerId"],axis=1,inplace = True)
#It returns None

In [45]:
data_frame

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [46]:
data_frame.drop(columns= ["Name","Ticket"],axis=1,inplace =True)

In [47]:
data_frame

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.0      1      0   7.2500   NaN        S
1           1       1  female  38.0      1      0  71.2833   C85        C
2           1       3  female  26.0      0      0   7.9250   NaN        S
3           1       1  female  35.0      1      0  53.1000  C123        S
4           0       3    male  35.0      0      0   8.0500   NaN        S
..        ...     ...     ...   ...    ...    ...      ...   ...      ...
886         0       2    male  27.0      0      0  13.0000   NaN        S
887         1       1  female  19.0      0      0  30.0000   B42        S
888         0       3  female   NaN      1      2  23.4500   NaN        S
889         1       1    male  26.0      0      0  30.0000  C148        C
890         0       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [48]:
data_frame["Embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [49]:
df = data_frame.copy()

In [50]:
df.dropna(subset = ["Embarked"],inplace  = True)

In [51]:
df.drop(columns=["Cabin"],axis=1,inplace = True)

In [52]:
le = LabelEncoder()
ohe  = OneHotEncoder(sparse_output = False)

In [53]:
data_frame["Embarked"].nunique()

3

In [54]:
encoded = ohe.fit_transform(data_frame[["Embarked"]])
encoded_df = pd.DataFrame(encoded,columns= ohe.get_feature_names_out(["Embarked"]))

In [55]:
encoded_df

     Embarked_C  Embarked_Q  Embarked_S  Embarked_nan
0           0.0         0.0         1.0           0.0
1           1.0         0.0         0.0           0.0
2           0.0         0.0         1.0           0.0
3           0.0         0.0         1.0           0.0
4           0.0         0.0         1.0           0.0
..          ...         ...         ...           ...
886         0.0         0.0         1.0           0.0
887         0.0         0.0         1.0           0.0
888         0.0         0.0         1.0           0.0
889         1.0         0.0         0.0           0.0
890         0.0         1.0         0.0           0.0

[891 rows x 4 columns]

In [56]:
real_df = pd.concat([data_frame,encoded_df],axis=1)

In [57]:
real_df.dropna(subset = ["Embarked"],inplace=True)

In [58]:
real_df.drop(["Embarked"],axis=1,inplace=True)

In [59]:
real_df.drop(["Embarked_nan"],axis=1,inplace =True)

In [60]:
real_df.drop(["Cabin"],axis=1,inplace = True)

In [61]:
real_df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,male,22.0,1,0,7.2500,0.0,0.0,1.0
1,1,1,female,38.0,1,0,71.2833,1.0,0.0,0.0
2,1,3,female,26.0,0,0,7.9250,0.0,0.0,1.0
3,1,1,female,35.0,1,0,53.1000,0.0,0.0,1.0
4,0,3,male,35.0,0,0,8.0500,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,0.0,0.0,1.0
887,1,1,female,19.0,0,0,30.0000,0.0,0.0,1.0
888,0,3,female,NaN,1,2,23.4500,0.0,0.0,1.0
889,1,1,male,26.0,0,0,30.0000,1.0,0.0,0.0
890,0,3,male,32.0,0,0,7.7500,0.0,1.0,0.0

In [62]:
real_df[real_df["Age"].isna()]

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
5,0,3,male,NaN,0,0,8.4583,0.0,1.0,0.0
17,1,2,male,NaN,0,0,13.0000,0.0,0.0,1.0
19,1,3,female,NaN,0,0,7.2250,1.0,0.0,0.0
26,0,3,male,NaN,0,0,7.2250,1.0,0.0,0.0
28,1,3,female,NaN,0,0,7.8792,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,1.0,0.0,0.0
863,0,3,female,NaN,8,2,69.5500,0.0,0.0,1.0
868,0,3,male,NaN,0,0,9.5000,0.0,0.0,1.0
878,0,3,male,NaN,0,0,7.8958,0.0,0.0,1.0
888,0,3,female,NaN,1,2,23.4500,0.0,0.0,1.0

In [63]:
real_df["Age"] = real_df.groupby("Sex")["Age"].transform(lambda x : x.fillna(x.mean()))

In [64]:
real_df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,male,22.000000,1,0,7.2500,0.0,0.0,1.0
1,1,1,female,38.000000,1,0,71.2833,1.0,0.0,0.0
2,1,3,female,26.000000,0,0,7.9250,0.0,0.0,1.0
3,1,1,female,35.000000,1,0,53.1000,0.0,0.0,1.0
4,0,3,male,35.000000,0,0,8.0500,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,0.0,0.0,1.0
887,1,1,female,19.000000,0,0,30.0000,0.0,0.0,1.0
888,0,3,female,27.745174,1,2,23.4500,0.0,0.0,1.0
889,1,1,male,26.000000,0,0,30.0000,1.0,0.0,0.0
890,0,3,male,32.000000,0,0,7.7500,0.0,1.0,0.0

In [65]:
real_df["Sex"] = le.fit_transform(real_df["Sex"])
real_df

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,22.000000,1,0,7.2500,0.0,0.0,1.0
1,1,1,0,38.000000,1,0,71.2833,1.0,0.0,0.0
2,1,3,0,26.000000,0,0,7.9250,0.0,0.0,1.0
3,1,1,0,35.000000,1,0,53.1000,0.0,0.0,1.0
4,0,3,1,35.000000,0,0,8.0500,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
886,0,2,1,27.000000,0,0,13.0000,0.0,0.0,1.0
887,1,1,0,19.000000,0,0,30.0000,0.0,0.0,1.0
888,0,3,0,27.745174,1,2,23.4500,0.0,0.0,1.0
889,1,1,1,26.000000,0,0,30.0000,1.0,0.0,0.0
890,0,3,1,32.000000,0,0,7.7500,0.0,1.0,0.0

In [66]:
y = real_df["Survived"]
X = real_df.drop(columns = "Survived",axis=1)
X

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,3,1,22.000000,1,0,7.2500,0.0,0.0,1.0
1,1,0,38.000000,1,0,71.2833,1.0,0.0,0.0
2,3,0,26.000000,0,0,7.9250,0.0,0.0,1.0
3,1,0,35.000000,1,0,53.1000,0.0,0.0,1.0
4,3,1,35.000000,0,0,8.0500,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
886,2,1,27.000000,0,0,13.0000,0.0,0.0,1.0
887,1,0,19.000000,0,0,30.0000,0.0,0.0,1.0
888,3,0,27.745174,1,2,23.4500,0.0,0.0,1.0
889,1,1,26.000000,0,0,30.0000,1.0,0.0,0.0
890,3,1,32.000000,0,0,7.7500,0.0,1.0,0.0

In [67]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 889, dtype: int64

In [68]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = 25)

#### Modelling

In [32]:
lr = LogisticRegression()
lr.fit(X_train,y_train)

e:\MLfromScratch\MLfromScratch\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
y_pred = lr.predict(X_test)

In [34]:
accuracy_score(y_pred,y_test)

0.7415730337078652

#### Model2 Based on DecisionTreeClassifier

In [69]:
dtc  = DecisionTreeClassifier()
dtc.fit(X_train,y_train)

DecisionTreeClassifier()

In [70]:
y_pred = dtc.predict(X_test)
accuracy_score(y_test,y_pred)

0.7415730337078652